@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Select2 Styling to match Tailwind Forms */
.select2-container{
    margin-top: 0.25rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    @apply border-gray-300 rounded-md shadow-sm;
    height: auto; /* Adjust height automatically */
    padding-top: 0.6rem;    /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    padding-left: 0.75rem;  /* px-3 */
    padding-right: 2.5rem; /* px-3 + space for arrow */
    min-height: 2.625rem; /* Ensure minimum height matches input */
}

/* Single select arrow positioning */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.625rem - 2px); /* Match min-height minus border */
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

/* Placeholder text */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    @apply text-gray-900 leading-tight; /* Match input text */
    padding-left: 0;
    padding-right: 0;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    @apply text-gray-400;
}

/* Multiple select choices */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    @apply m-0 mr-3;
}

.select2-container--default .select2-search--inline .select2-search__field{
    margin: 0;
    margin-bottom: 5px;
}

/* Focus state */
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple {
    @apply border-indigo-500 ring-1 ring-indigo-500;
}

/* Dropdown styles */
.select2-dropdown {
    @apply border-gray-300 rounded-md shadow-sm;
}
.select2-results__option--highlighted[aria-selected] {
    @apply bg-indigo-500 text-white;
}
.select2-results__option[aria-selected=true] {
    @apply bg-gray-200 text-gray-900;
}
.select2-search--dropdown .select2-search__field {
     @apply border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
     padding: 0.5rem 0.75rem;
}

.header-container {
    background: linear-gradient(90deg, #235322 0%, #0C770A 100%);
}


/* Sidebar collapsed state */
#sidebar[data-collapsed="true"] {
    width: 80px;
}
/* Animate nav text */
#sidebar .nav-text {
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.3s ease, opacity 0.3s ease, margin-left 0.3s ease;
}
#sidebar[data-collapsed="true"] .nav-text {
    margin-left: 0;
    max-width: 0;
    opacity: 0;
}
#sidebar[data-collapsed="true"] .nav-item {
    /* justify-content: center; */
    padding-left: 1rem;
    padding-right: 1rem;
}